html{
  background-image: url("../assets/bg.jpeg");
  background-size: cover;
}

header{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 16px;

  img{
    max-height: 64px;
  }
}

footer{
  width: 100%;
  text-align: center;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 16px;
  color: #555;

  a{
    position: relative;
  }
}

.glass{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.main-container{
  margin: 64px;
  padding: 64px;
  display: grid;
  grid-template-columns: 65% 35%;
}

@media only screen and (max-width: 1700px) {
  .main-container{
    display: block;
  }

  .settings-container{
    width: 100%;
  }

  #card-fixer{
    display: block;
    margin-top: 64px;
    position: relative;
    transform: none;
    right: initial;
  }
}
